.prhoa {
  background-image: url(img/Plum_Run_Entrance.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #8B008B;
  /* background-color: plum; */
  font-family: 'Cambria',"Coda Caption",'IM Fell French Canon SC','Unlock','Fira Sans', sans-serif;
  color: white;
  margin:  0 50px;
  padding: 10px;
  text-align: left;
}

/* Media Queries */
@media (min-width: 769px) {
  .main-header,{
	   display: flex;
	}
	.main-header {
		flex-direction: column;
		align-items: center;
	}
}

@media (min-width: 1025px) {
	.main-header {
		flex-direction: row;
		justify-content: space-between;
	}
}
